{% extends 'base/index.html' %}
{% load static %}

{% block authenticate_content %}
    <div class="signIn">
        <div class="hed">
            <div class="heading_title pt-5 text-light">
                <h2 id="text" class="font-weight-bold text-uppercase">Forgot Password</h2>
            </div>
        </div>
        <div class="fromdet container">
            <div class="row my-3">
                <div class="col-sm-6 offset-sm-3">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>An Email has been sent with instruction to reset your password.
                        <b>Check Your Email</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock authenticate_content %}