{% extends 'base/index.html' %}
{% load static %}

{% block authenticate_content %}
    <div class="signIn">
        <div class="hed">
            <div class="heading_title pt-5 text-light">
                <h2 id="text" class="font-weight-bold text-uppercase">Welcome {{user.first_name}} {{user.last_name}}</h2>
            </div>
        </div>
        <div class="container">
            <div class="fromdet d-block text-center">
                <h3>Password Changed Successfully !!</h3>
                <div class="tick">
                <iframe src="https://giphy.com/embed/J20kKsn88hYAkpPtHB" width="300" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                <p><a href="https://giphy.com/gifs/foodtribe-food-tribe-foodtrb-J20kKsn88hYAkpPtHB"></a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock authenticate_content %}